# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*

# Logs
*.log

# Build artifacts
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/refs/original/
.hypothesis/
.coverage*
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.project
.pydevproject
.flake8
.local
.checkstyle
.junit
.nyc_output
.pyup.yml
.coveralls.yml
.codeclimate.yml
.vscode/
.idea/
